body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(161, 163, 165, 0.2);
}
header,
footer {
  background-color: rgb(14, 79, 133);
  max-width: 100%;
}
header {
  order: 0;
}

ul {
  list-style: none;
}

.navigation,
.footer {
  padding: 3% 0 1% 5%;
}

.navigation {
  position: sticky;
  top: 0;
}

.navigation a {
  font-weight: 600;
  padding: 8% 1% 0;
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.intro {
  padding: 6% 0;
  text-align: center;
}
.intro img {
  width: 20%;
  border-radius: 180px;
  opacity: 0.8;
}
.container img {
  max-width: 100%;
  border: solid 0.6px gray;
  opacity: 0.7;
}
.container section {
  margin-bottom: 16%;
}

main {
  order: 1;
  padding: 2% 6%;
}

footer {
  order: 2;
  bottom: -10px;
  padding: 2%;
}

.footer a {
  color: white;
  font-size: 3%vw;
}

.about {
  padding-bottom: 8%;
}

.about,
.intro {
  border-bottom: solid 0.6px rgb(161, 163, 165);
}

.skills {
  color: rgb(14, 79, 133);
  /* color: black; */
}

.skills li {
  margin: 2% 0;
  display: inline-block;
  border: solid 1px rgb(161, 163, 165);
  background-color: white;
  padding: 1.5%;
  border-radius: 4px;
}

.secondary-headings {
  color: black;
  font-weight: 600;
}

.project-heading {
  color: rgb(14, 79, 133);
  text-transform: uppercase;
  /* padding-left: 4%; */
}
.project-subheading {
  text-transform: capitalize;
  /* color: rgb(161, 163, 165); */
  color: black;
}

.repo-links {
  background-color: rgb(161, 163, 165);
  padding: 1%;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

@media screen and (orientation: landscape) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
  }
  .container section {
    margin: 4%;
  }
  .skills {
    padding: 0 16%;
  }

  .project-heading {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  .one {
    grid-row: 2;
    grid-column: 1;
  }
  .two {
    grid-row: 2;
    grid-column: 2;
  }
  .three {
    grid-row: 3;
    grid-column: 1;
  }
  .four {
    grid-row: 3;
    grid-column: 2;
  }
  .about {
    display: flex;
  }
}

.navigation a:hover {
  color: rgb(161, 163, 165);
  /* color: rgb(14, 79, 133); */
}

.container img:hover,
.container a:hover {
  opacity: 1;
  color: rgb(14, 79, 133);
}
.icons {
  font-size: 28px;
  color: rgb(14, 79, 133);
}
